/dts-v1/;
/plugin/;

&fpga_full {
	#address-cells = <2>;
	#size-cells = <2>;
	firmware-name = "mktdata_poc/mktdata_poc.bit.bin";

	afi0 {
		compatible = "xlnx,afi-fpga";
		config-afi = <0 0>, <1 0>, <2 0>, <3 0>,
		             <4 0>, <5 0>, <6 0>, <7 0>,
		             <8 0>, <9 0>, <10 0>, <11 0>,
		             <12 0>, <13 0>, <14 0>, <15 0>;
	};

	clocking0 {
		#clock-cells = <0>;
		assigned-clock-rates = <99999000>;
		assigned-clocks = <&zynqmp_clk 0x47>;
		clock-output-names = "fabric_clk";
		clocks = <&zynqmp_clk 0x47>;
		compatible = "xlnx,fclk";
	};

	/* axi_gpio_control -- dual channel: ch1 = 2-bit opcode driving
	 * my_state.control, ch2 = 32-bit addend driving my_state.value. */
	axi_gpio_control@a0040000 {
		clocks = <&zynqmp_clk 0x47>;
		compatible = "generic-uio";
		reg = <0x0 0xa0040000 0x0 0x10000>;
	};

	/* axi_gpio_value -- dual channel: ch1 = my_state.sum (accum[31:0]),
	 * ch2 = my_state.carry (accum[63:32]). */
	axi_gpio_value@a00c0000 {
		clocks = <&zynqmp_clk 0x47>;
		compatible = "generic-uio";
		reg = <0x0 0xa00c0000 0x0 0x10000>;
	};

	/* axi_fifo_echo -- AXI4-Stream FIFO, TXD wired back to RXD in the BD.
	 * S_AXI is the AXI-Lite control port. */
	axi_fifo_echo_ctrl@a0100000 {
		clocks = <&zynqmp_clk 0x47>;
		compatible = "generic-uio";
		reg = <0x0 0xa0100000 0x0 0x10000>;
	};

	/* axi_fifo_echo -- S_AXI_FULL data port. TDFD at +0, RDFD at +0x1000. */
	axi_fifo_echo_data@a0110000 {
		clocks = <&zynqmp_clk 0x47>;
		compatible = "generic-uio";
		reg = <0x0 0xa0110000 0x0 0x10000>;
	};

	/* axi_dma_echo -- AXI DMA, no SG, 64-bit MM2S+S2MM. Streams flow
	 * MM2S -> axi_dma_fifo_echo/RXD and axi_dma_fifo_echo/TXD -> S2MM. */
	axi_dma_echo@a00d0000 {
		clocks = <&zynqmp_clk 0x47>;
		compatible = "generic-uio";
		reg = <0x0 0xa00d0000 0x0 0x10000>;
	};

	/* axi_dma_fifo_echo control port. */
	axi_dma_fifo_echo_ctrl@a00e0000 {
		clocks = <&zynqmp_clk 0x47>;
		compatible = "generic-uio";
		reg = <0x0 0xa00e0000 0x0 0x10000>;
	};

	/* axi_dma_fifo_echo data port (S_AXI_FULL). */
	axi_dma_fifo_echo_data@a00f0000 {
		clocks = <&zynqmp_clk 0x47>;
		compatible = "generic-uio";
		reg = <0x0 0xa00f0000 0x0 0x10000>;
	};

	/* axi_fifo_mdebug -- RX-only AXI4-Stream FIFO fed by the NI IP's
	 * MDEBUG stream. S_AXI control port. */
	axi_fifo_mdebug_ctrl@a0050000 {
		clocks = <&zynqmp_clk 0x47>;
		compatible = "generic-uio";
		reg = <0x0 0xa0050000 0x0 0x10000>;
	};

	/* axi_fifo_mdebug -- S_AXI_FULL data port. RDFD at +0x1000. */
	axi_fifo_mdebug_data@a0060000 {
		clocks = <&zynqmp_clk 0x47>;
		compatible = "generic-uio";
		reg = <0x0 0xa0060000 0x0 0x10000>;
	};

	/* axi_fifo_debug -- RX-only AXI4-Stream FIFO fed by the NI IP's
	 * DEBUG stream. S_AXI control port. */
	axi_fifo_debug_ctrl@a0070000 {
		clocks = <&zynqmp_clk 0x47>;
		compatible = "generic-uio";
		reg = <0x0 0xa0070000 0x0 0x10000>;
	};

	/* axi_fifo_debug -- S_AXI_FULL data port. RDFD at +0x1000. */
	axi_fifo_debug_data@a0080000 {
		clocks = <&zynqmp_clk 0x47>;
		compatible = "generic-uio";
		reg = <0x0 0xa0080000 0x0 0x10000>;
	};

	/* axi_fifo_cmd -- RX-only AXI4-Stream FIFO fed by the NI IP's
	 * CMD stream. S_AXI control port. */
	axi_fifo_cmd_ctrl@a00a0000 {
		clocks = <&zynqmp_clk 0x47>;
		compatible = "generic-uio";
		reg = <0x0 0xa00a0000 0x0 0x10000>;
	};

	/* axi_fifo_cmd -- S_AXI_FULL data port. RDFD at +0x1000. */
	axi_fifo_cmd_data@a00b0000 {
		clocks = <&zynqmp_clk 0x47>;
		compatible = "generic-uio";
		reg = <0x0 0xa00b0000 0x0 0x10000>;
	};

	/* axi_gpio_1 -- 1-bit all-outputs GPIO driving the NI IP's
	 * ctrlind_17_ip_reset input. */
	axi_gpio_1@a0090000 {
		clocks = <&zynqmp_clk 0x47>;
		compatible = "generic-uio";
		reg = <0x0 0xa0090000 0x0 0x10000>;
	};
};
